<!DOCTYPE html>
<html ng-app="memeStock">
<head>
  <title>MemeStock</title>

{#  <base href="/" />#}

  {% include 'stylesheets.html' %}

</head>

<body>
  {% include 'navbar.html' %}
  {% include 'javascripts.html' %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 ng-view">
          <div ng-controller="John">
              <input type="text" name="input" ng-model="user" ng-pattern="example.word" required ng-trim="false">
              <button type="button" class="btn btn-primary" ng-click="login()">
                  Login
              </button>
          </div>
      </div>
    </div>
  </div>


</body>
</html>
