<!DOCTYPE html>
<html ng-app="memeStock">
<head>
    <title>MemeStock</title>

    {% include 'stylesheets.html' %}
</head>

<body>
{% include 'navbar.html' %}
{% include 'javascripts.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 ng-view">
            <div ng-controller="InvestmentsController">
                <h1> Welcome, {[{ id }]}! </h1>

                <h3> My investments: </h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th> Meme </th>
                            <th> No. of Shares </th>
                            <th> Start value </th>
                            <th> Current value </th>
                            <th> Net profit/loss </th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="stock in allStocks">
                            <td>{[{ stock.name }]}</td>
                            <td>{[{ stock.numShares }]}</td>
                            <td>{[{ stock.startValue }]}</td>
                            <td>{[{ stock.currentValue }]}</td>
                            <td>{[{ stock.profitLoss }]}</td>
                        </tr>
                    </tbody>
                </table>

                <br><br>

                <h3> MemeDAQ: </h3>
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>{[{ dsa }]}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</body>
</html>
