<!DOCTYPE html>
<html ng-app="memeStock">
<head>
    <title>MemeStock</title>

    {% include 'stylesheets.html' %}
</head>

<body>
{% include 'navbar.html' %}
{% include 'javascripts.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 ng-view">
            <div ng-controller="TransactionsController">

                <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{[{alert.msg}]}</div>

                Enter meme:

                <input type="text" name="input" ng-model="meme" uib-typeahead="meme for meme in memes | filter:$viewValue | limitTo:8"> </input>

                <form novalidate>
                    Quantity: <input type="text" ng-model="quantity"/> <br/>


                    <p class="descriptionText">Pick a number of days:
                        <input ng-model="days" type="text">
                    </p>


                    <button type="button" class="btn btn-primary" ng-click="buy()">
                        Buy
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="sell()">
                        Sell
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


</body>


</html>
